$primary: #33B1E7;
$secondary: #e73357;

$link: rgb(27, 173, 248);

$black: #000;
$white: #fff;

$grey-10: #333;
$grey-9: #4F4F66;
$grey-8: #7E7E8F;
$grey-7: #9090A3;
$grey-6: #A3A3B5;
$grey-5: #C0C0CC;
$grey-4: #CCCCD9;
$grey-3: #DDDDE6;
$grey-2: #F0F0F5;
$grey-1: #F5F5F7;
$grey-0: #FAFAFA;

$mac-red: rgb(255, 59, 48);
$mac-green: rgb(76, 217, 100);
$mac-yellow: rgb(255, 204, 0);

$twitter: #1da1f2;
$medium: #000;
$linkedin: #0077b5;
$hackerrank: #1ba94c;
$github: #24292e;
$codepen: #000;